.App {
  text-align: center;
  background: #CE5937;
background: linear-gradient(135deg, #CE5937 0%, #1C6EA4 26%, #C59237 100%);
  width:480px;
  min-width: 480px;
  height:100%;
  padding: 10px;
  /* overflow-y: scroll; */
  overflow-x: hidden;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  width: 70%;
  font-size: 16px;
  padding: 5px 10px;
}

.form__button {
  width: 30%;
}

.form__button {
  width: 130px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.form__button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  -webkit-animation: glowing 20s linear infinite;
          animation: glowing 20s linear infinite;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.form__button:active {
  color: #000
}

.form__button:active:after {
  background: transparent;
}

.form__button:hover:before {
  opacity: 1;
}

.form__button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
}

@-webkit-keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 100%;
  padding:0;
}

.items-list > li {
  width: calc((100% - 20px)/3);
  margin-right: 10px;
  margin-bottom: 10px;
}

.items-list > li:nth-child(3n) {
  margin-right: 0;
}

.items-list > li img {
  width:100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  height: 150px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

.items-list > li img:hover {
  z-index: 20;
}

.items-list button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C06C84;
  -webkit-box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
          box-shadow: 0 3px 2px 0 rgba(0,0,0,0.1);
  border-radius: 5px;
  height: 30px;
  padding: 0 30px;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: background .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
  transition: background .3s, transform .3s, box-shadow .3s;
  transition: background .3s, transform .3s, box-shadow .3s, -webkit-transform .3s, -webkit-box-shadow .3s;
   will-change: transform;
}

.preview {
  top: -250px;
  left: -200px;
  position: fixed;
  width: 300px;
  height: 240px;
  z-index: 10;
  -webkit-transition: all .5s;
  -webkit-transition: all 1s;
  transition: all .5s;
  /* border: 1px solid red; */

}

.preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}


/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar:hover {
  width: 10px;
}